<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/register.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <div class="barra-busqueda">
                <img class="logo-principal" src="/public/images/logo-mercado-liebre.svg" alt="logo de la empresa">
                <input type="search" class="barra-en-cuestion" placeholder="Buscar productos, marcas">
                <div class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="texto-centro">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <div class="navegacero">
            <nav>
                <ul type="none" class="navegauno">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul type="none" class="navegados">
                    <li><a href="/views/register.html">Creá tu cuenta</a><i class="fas fa-user-circle"></i></li>
                    <li><a href="/views/login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <div id="miniburger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h1> Registro </h1>
        <form action="#" method="post">
            <input type="text" class="input" name="name" placeholder="Nombre y apellido" minlength="3" required>
            <input type="text" class="input" name="username" placeholder="Nombre de usuario" required>
            <input type="email" class="input" name="email" placeholder="E-mail" required>

            <label class="titulos" for="fecha"> Fecha de nacimiento </label>
            <input type="date" id="fecha" name="birthdate" min="01-01-1940" max="31-06-2023">
            <input type="text" class="input" name="adress" placeholder="Domicilio" required>

            <span class="titulos"> Perfil del usuario </span>
            <div class="perfil">
                <label for="comprador"><input type="radio" id="comprador" name="profile" value="comprador"> Comprador </label>
                <label for="vendedor"><input type="radio" id="vendedor" name="profile" value="vendedor"> Vendedor </label>
            </div>

            <span class="titulos"> Intereses </span>
            <label class="intereses" for="electro"><input type="checkbox" id="electro" name="intereses" value="electro"> Electro </label>
            <label class="intereses" for="fashion"><input type="checkbox" id="fashion" name="intereses" value="fashion"> Moda </label>
            <label class="intereses" for="home"><input type="checkbox" id="home" name="intereses" value="home"> Hogar </label>
            <label class="intereses" for="toys"><input type="checkbox" id="toys" name="intereses" value="toys"> Juguetería </label>
            <label class="intereses" for="healthcare"><input type="checkbox" id="healthcare" name="intereses" value="healthcare"> Vida Sana </label>
            
            <label class="titulos" for="foto-usuario"> Foto de usuario </label>
            <input type="file" id="foto-usuario" name="pfp" accept=".jpg, .png">

            <label class="titulos" for="password"> Introduce una contraseña </label>
            <input id="password" type="password" name="password" placeholder="Contraseña" minlength="8" required>
            <input class="input" type="password" name="confirm" placeholder="Confirmar contraseña" minlength="8" required>

            <button type="submit" onclick="location.href='/views/home.html'"> Enviar </button>
            <button type="reset"> Restablecer </button>
        </form>
    </main>
    <footer>
        <section>
            <div>
                <i class="fas fa-credit-card" id='iconos-footer'></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
            </div>
            <p class="descripciones">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div>
                <i class="fas fa-gift" id="iconos-footer"></i>
                <h2>Envío gratis desde los $ 2.500</h2>
            </div>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </section>
        <section>
            <div>
                <i class="fas fa-user-shield" id="iconos-footer"></i>
                <h2>Seguridad de principio a fin</h2>
            </div>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </section>
        <section>
        <p class="descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>